.container {
    margin: 3rem;
    height: 42vw;
    flex-shrink: 0;
    border-radius: 0.83088rem;
    background: rgba(0, 0, 0, 0.03);
}

.propertyImage {
    width: 30.74275rem;
    height: 25.46419rem;
    flex-shrink: 0;
    border-radius: 0.9775rem;
    object-fit: cover; 
    object-position: center; 
    margin-left: 4rem;
    margin-top: 2rem;
    box-shadow: 0px 2.327px 2.327px 0px rgba(0, 0, 0, 0.356);
}

.propertyDetails {
    display: flex;
}

.propertyTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.propertyTitle {
    width: 60rem;
    height: 2.73706rem;
    color: #000;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-family: 'Arial', sans-serif; 
    font-weight: normal; 
}

.priceValue{
    font-size: 1.2rem;
    color: #375345;
}

.descripcion{
    margin-top: 1rem;
    width: 700px;
    color: rgba(61, 61, 61, 0.719);
}

.tresImg {
    display: flex;
    flex-direction: row;
}

.tresImgIndividual{
    width: 240px;
    height: 150px;
    border-radius: 0.5rem;
    margin-right: 3rem;
    margin-top: 2rem;
    box-shadow: 0px 2.327px 2.327px 0px rgba(0, 0, 0, 0.356);
}

.propertyInfo{
    margin-left: 4rem;
}

.additionalDetailsContainer {
    margin-left: 4.5rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    width: 400px;
}

/* Estilos para el contenedor del botón de retroceso */
.goBack {
    
    font-size: 1.2rem;
}

/* Estilos para el botón de retroceso */
.goBack button {
    padding: 0.5rem 1rem;
    background-color: #4F886B;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 4rem;
}

/* Cambiar estilos al pasar el ratón sobre el botón */
.goBack button:hover {
    background-color: #366B51;
}

.buyButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: -3rem; /* Ajusta el valor según tu preferencia */
}

.buyButton {
    width: 10.5625rem;
    height: 3.625rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background: #4F886B;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    outline: none;
    margin-right: 30px;
}

.icono {
    width: 25px;
    height: 25px;
    margin-left: 30px;
    color: #375345;
}

.detailsContainer {
    display: flex;
    flex-direction: column; /* Contenedor de columna */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
}

.detail {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro de cada .detail */
    margin-bottom: -30px; /* Ajusta el espaciado vertical entre los detalles */
}

.detailLabel{
    font-size: 1rem;
    margin-left: 4rem;
}


