/* Home.module.css */
.contentContainer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 70rem;
    background-color: #d4d4d42c;
    border-radius: 15px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.imageContainer {
    width: 27.51594rem;
    height: 23.07075rem;
    flex-shrink: 0;
    border-radius: 0.98006rem;
    background: url("../../assets/cloudinary/depto.jpg") lightgray 50% / cover no-repeat;
}

.textContainer {
    width: 35rem;
}

.title {
    color: var(--black, #333);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.30669rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.subtitle {
    color: var(--black, #333);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.735rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.30669rem;
}

.contentFilters{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.contentCards{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.contentPaginate{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

